<nb-card class="subscription-information-card">
  <nb-card-header>
    <div class="space space106" >
      <h6 class="heading22 text-undefined text-alignment-left text-transform-none">Your current subscription</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space107" >
      <div class="space space109" >
        <p class="text37 text-undefined text-alignment-left text-transform-none paragraph">Subscription type</p>
      </div>
      <div class="space subscription-type-checkbox" >
        <nb-checkbox class="checkbox2" status="primary" disabled uiValueUpdate="Checkbox2" [ngModel]="value">{{ label }}</nb-checkbox>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space108" >
      <div class="space space111" >
        <p class="text38 text-undefined text-alignment-left text-transform-none paragraph">Last invoice date</p>
      </div>
      <div class="space space1111" >
        <span class="text39 text-undefined text-alignment-center text-transform-none subtitle-2">22.6.2020</span>
      </div>
      <div class="space space11111" >
        
      </div>
    </div>
  </nb-card-footer>
</nb-card>