<div class="space ctr-quick-stats" >
  <nb-card class="message-action-card">
    <nb-card-body>
      <div class="space space11" >
        <div class="space space17" >
          <h5 class="heading7 text-undefined text-alignment-left text-transform-none">Click-trough rate this month</h5>
        </div>
        <div class="space space18" >
          <h6 class="heading8 text-undefined text-alignment-left text-transform-none">1%</h6>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>