<div class="space SignUpForm1 sign-up-form1" >
  <label class="Text45 text45 text-basic label">Full name</label>
  <input nbInput class="Input input size-xl-medium" placeholder="" type="text" shape="rectangle" uiValueUpdate="Input" status="basic" [ngModel]="value">
  <label class="Text46 text46 text-basic label">Email</label>
  <input nbInput class="Input1 input1 size-xl-medium" placeholder="" type="text" shape="rectangle" uiValueUpdate="Input1" status="basic" [ngModel]="value1">
  <label class="Text47 text47 text-basic label">Password</label>
  <input nbInput class="Input2 input2 size-xl-medium" placeholder="" type="password" shape="rectangle" uiValueUpdate="Input2" status="basic" [ngModel]="value2">
  <a href="" target="_blank"  class="Link1 link1 text-primary">Already have an account? Sign in</a>
</div>