<nb-card class="look-and-feel-card">
  <nb-card-header>
    <div class="space space39" >
      <h6 class="heading13 text-undefined text-alignment-left text-transform-none">Look & Feel</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space40" >
      <div class="space space42" >
        <p class="text13 text-undefined text-alignment-left text-transform-none paragraph">You can customize your search bar and results. Lorem ipsum.</p>
      </div>
      <div class="space space421" >
        <input nbInput class="search-bar-look-feel-txt size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" uiValueUpdate="searchBarLookFeelTxt" status="basic" [ngModel]="value">
      </div>
      <div class="space space4211" >
        <p class="text14 text-undefined text-alignment-left text-transform-none paragraph">You can customize your search result look and feel. Lorem ipsum</p>
      </div>
      <div class="space space42111" >
        <input nbInput class="search-result-txt size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" uiValueUpdate="searchResultTxt" status="basic" [ngModel]="value1">
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space41" >
      <button nbButton class="save-look-and-feel-btn size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="save"></nb-icon>
        <span>Save</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>