<div class="space space4" >
  <div class="space quick-stats-space" >
    <app-clicks-quick-stats></app-clicks-quick-stats>
    <app-ctr-quick-stats></app-ctr-quick-stats>
    <app-pages-index-quick-stats></app-pages-index-quick-stats>
    <app-quick-stats-searches-space></app-quick-stats-searches-space>
  </div>
  <div class="space graph-space" >
    <app-searches-graph-component></app-searches-graph-component>
  </div>
  <div class="space hit-keywords-space" >
    <app-top-keywords-card></app-top-keywords-card>
  </div>
  <div class="space no-hits-keyword-space" >
    <app-no-hits-keyword-card></app-no-hits-keyword-card>
  </div>
</div>