<div class="space space93" >
  <div class="space space95" >
    <div class="space space96" >
      
    </div>
    <div class="space space961" >
      <app-plan-card></app-plan-card>
    </div>
    <div class="space space9611" >
      <nb-card class="card7">
        <nb-card-header>
          <div class="space space100" >
            <h6 class="heading20 text-undefined text-alignment-left text-transform-none">Plan 2</h6>
          </div>
        </nb-card-header>
      
        <nb-card-body>
          <div class="space space101" >
            <p class="text35 text-undefined text-alignment-center text-transform-none paragraph">This is second plan. Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum</p>
          </div>
        </nb-card-body>
      
        <nb-card-footer>
          <div class="space space102" >
            <button nbButton class="button19 size-xl-medium" appearance="hero" status="success">
              <nb-icon class="icon btn-icon" icon="shopping-cart"></nb-icon>
              <span>order</span>
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="space space96111" >
      <nb-card class="card8">
        <nb-card-header>
          <div class="space space103" >
            <h6 class="heading21 text-undefined text-alignment-center text-transform-none">Plan 3</h6>
          </div>
        </nb-card-header>
      
        <nb-card-body>
          <div class="space space104" >
            <p class="text36 text-undefined text-alignment-center text-transform-none paragraph">This is third plan. Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum</p>
          </div>
        </nb-card-body>
      
        <nb-card-footer>
          <div class="space space105" >
            <button nbButton class="button20 size-xl-medium" appearance="hero" status="success">
              <nb-icon class="icon btn-icon" icon="shopping-cart"></nb-icon>
              <span>order</span>
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="space space961111" >
      
    </div>
  </div>
  <div class="space space951" >
    
  </div>
  <div class="space space9511" >
    <app-subscription-information-card></app-subscription-information-card>
  </div>
  <div class="space space95111" >
    
  </div>
  <div class="space space951111" >
    <app-invoices-list-card></app-invoices-list-card>
  </div>
  <div class="space space9511111" >
    
  </div>
</div>