<nb-card class="no-hits-keyword-card">
  <nb-card-header>
    <div class="space space-component" >
      <h6 class="heading1 text-undefined text-alignment-left text-transform-none">No hits keywords this month</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space6" >
      <nb-list class="no-hit-keywords-list">
        <nb-list-item class="slot">
          <div class="space space22" >
            <p class="text text-undefined text-alignment-left text-transform-none paragraph">Item 1</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space23" >
            <p class="text1 text-undefined text-alignment-left text-transform-none paragraph">Item 2</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space24" >
            <p class="text2 text-undefined text-alignment-left text-transform-none paragraph">Item 3</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space25" >
            <p class="text3 text-undefined text-alignment-left text-transform-none paragraph">Item 4</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space34" >
            <p class="text4 text-undefined text-alignment-left text-transform-none paragraph">Item 5</p>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space21" >
      
    </div>
  </nb-card-footer>
</nb-card>