<nb-card class="top-keywords-card">
  <nb-card-header>
    <div class="space space3" >
      <h6 class="heading text-undefined text-alignment-left text-transform-none">Top keywords this month</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space26" >
      <nb-list class="top-keywords-list">
        <nb-list-item class="slot">
          <div class="space space28" >
            <p class="text5 text-undefined text-alignment-left text-transform-none paragraph">Item 1</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space29" >
            <p class="text6 text-undefined text-alignment-left text-transform-none paragraph">Item 2</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space30" >
            <p class="text7 text-undefined text-alignment-left text-transform-none paragraph">Item 3</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space32" >
            <p class="text8 text-undefined text-alignment-left text-transform-none paragraph">Item 4</p>
          </div>
        </nb-list-item>
      
        <nb-list-item class="slot">
          <div class="space space33" >
            <p class="text9 text-undefined text-alignment-left text-transform-none paragraph">Item 5</p>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space27" >
      
    </div>
  </nb-card-footer>
</nb-card>