<nb-card class="plan-card">
  <nb-card-header>
    <div class="space space97" >
      <h6 class="heading19 text-undefined text-alignment-left text-transform-none">Plan 1</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space98" >
      <p class="text34 text-undefined text-alignment-center text-transform-none paragraph">This is basic plan. Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum</p>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space space99" >
      <button nbButton class="button18 size-xl-medium" appearance="hero" status="success">
        <nb-icon class="icon btn-icon" icon="shopping-cart"></nb-icon>
        <span>Order</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>