<div class="space quick-stats-searches-space" >
  <nb-card class="new-message-action-card">
    <nb-card-body>
      <div class="space space9" >
        <div class="space space13" >
          <h5 class="heading2 text-undefined text-alignment-left text-transform-none">Searches this month</h5>
        </div>
        <div class="space space14" >
          <h6 class="heading3 text-undefined text-alignment-left text-transform-none">4</h6>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>